<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MFClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <MFClient.Properties.Settings>
            <setting name="Window_Title" serializeAs="String">
                <value>Jade Hotel</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>https://jadehotel.nl/client</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value>%appdata%/MFClient/data</value>
            </setting>
            <setting name="Window_icon" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowDebugMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNavigationBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableRMB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JailMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PepperFlashPlayerVersion" serializeAs="String">
                <value>29.0.0.171</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>JadeHotel Client</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </MFClient.Properties.Settings>
    </userSettings>
</configuration>
